@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Montserrat:ital@0;1&family=Poppins&family=Roboto&family=Satisfy&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  font-family: "popins", sans-serif;
}

:root {
  --primary-color: rgb(243, 94, 40);
  --textColor: #e1e2e2;
  --backGroundColor: #1d2228;
  --cardColor: #484a4b;
  --footerColor: #9c5419;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0;
}

body {
  background: linear-gradient(
    -45deg,
    #1d2228,
    rgb(62, 36, 26),
    #1d2228,
    #1d2228
  );
  animation: gradient 15s ease-in-out infinite;
  background-size: 400% 400%;
  color: var(--textColor);
}

h1 {
  color: var(--primary-color);
}

h5 {
  color: var(--primary-color);
}

p {
  color: var(--textColor);
  font-size: 20px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

section {
  min-height: 100vh;
}

/* Navbar design starts here*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: var(--backGroundColor);
  transition: all 300ms ease-in-out;
  padding: 10px;
}

.scroll-down header {
  /* scroll events to hide the nav when scrolling down*/
  transform: translate3d(0px, -100%, 0px);
}

.scroll-up header {
  filter: drop-shadow(1px 3px 1px var(--backGroundColor));
}

nav {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
}

ul li a {
  font-weight: 900px;
  font-size: 22px;
  text-transform: uppercase;
  padding: 17px 30px;
  border-radius: 3px;
  text-decoration: none;
  color: var(--primary-color);
}

ul li a:hover {
  transition: 0.3s ease;
  background-color: var(--textColor);
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin-left: 20px;
}
.logo > img {
  width: 120%;
  height: 100%;
}

.burger {
  padding: 10px;
  margin: 0px 10px;
  background-color: var(--primary-color);
  font-size: larger;
  border-radius: 2px;
  display: none;
  cursor: pointer;
}

.burger:hover {
  background-color: var(--textColor);
}

.nav-active {
  transform: translatex(0);
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  ul {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: var(--backGroundColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    transform: translateX(100%);
  }

  nav {
    padding: 0px 10px;
  }

  .burger {
    display: block;
  }

  li {
    opacity: 1;
  }
}

/* Navbar design ends here*/

/* hero design starts here*/

.hero_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.info_container {
  height: 50vh;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info_container > div {
  color: var(--textColor);
}
.band1 {
  font-size: 30px;
  line-height: normal;
}

.band2 {
  font-size: 80px;
  line-height: normal;
}

.info_container > div > p > span {
  color: var(--primary-color);
}

.hero_pic_container {
  height: 50vh;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_pic {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.hero_pic > img {
  width: 100%;
}

aside {
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 40px;
  top: 170px;
  right: 20px;
  background-color: var(--textColor);
  padding: 39px 12px;
  border-radius: 50px;
}

aside > a > img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

@media only screen and (max-width: 768px) {
  .hero_container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 30px;
  }
  .info_container {
    margin-top: 60px;
  }
  .band1 {
    font-size: 20px;
    line-height: normal;
  }

  .band2 {
    font-size: 28px;
    line-height: normal;
  }

  aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 10px;
    top: 450px;
    right: 35px;
  }
  aside > img {
    width: 20px;
    height: 20px;
    border-radius: 50px;
  }
}

/* hero design ends here*/

/* About me  design starts here*/
#AboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.about-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.about-img img {
  width: 400px;
  height: 400px;
}

.about-desc {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 200px;
}

@media only screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-img {
    width: 100%;
  }
  .about-img img {
    width: 300px;
    height: 300px;
  }

  .about-desc {
    width: 100%;
    padding: 25px 10px;
    text-align: justify;
  }
}
/* About me  design ends here*/

/* skills design starts here */
#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skill img {
  width: 110px;
  height: 100px;
}
.skill p {
  margin: 0.7rem 0;
  font-size: 17px;
  font-weight: 600;
}

.skill {
  background-color: var(--cardColor);
  padding: 2rem;
  border-radius: 3px;
  margin: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.skills_group {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  text-align: center;
  max-width: 900px;
}
.skill:nth-child(odd) {
  background-color: var(--cardColor);
}

progress[value] {
  height: 1.5rem;
  background: transparent;
  -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 5px;
}

progress[value]::-webkit-progress-value {
  background: var(--primary-color);
  border-radius: 5px;
  background-size: 35px 20px;
}

/* skills design ends here */

/* projects design starts here */

#projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.projects_container {
  display: flex;
}

.projectsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  align-items: center;
}

.projectCard {
  width: 300px;
  height: 450px;
  background-color: var(--cardColor);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
  box-shadow: rgba(79, 76, 76, 0.3) 0px 19px 38px,
    rgba(29, 28, 28, 0.22) 0px 15px 12px;
}

.projectCardImg {
  display: inline-block;
  max-width: 100px;
  max-height: 100px;
}

.projectCardImg img {
  width: 100%;
}
.projectCardInfo {
  width: 100%;
  height: 50%;
  text-align: center;
}
.projectCardInfo p {
  font-size: 15px;
}

.projectCardInfo button {
  background: none;
  border: none;
  color: var(--textColor);
  font-size: 15px;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 5px;
  transition: 300ms ease;
}

.projectCardInfo button:hover {
  background-color: transparent;
}

/* project design ends here */

/* contact design starts here */

#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.form {
  background-color: #f1f1f1;
  width: 700px;
  padding: 20px;
  border-radius: 8px;
}

.form > div {
  padding: 10px;
}

input,
textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: #f1f1f1;
  border: 0.5px solid rgb(199, 186, 186);
}
.sendbutton {
  text-align: center;
}

.sendbutton > button {
  background-color: var(--primary-color);
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 60%;
  opacity: 0.9;
  border-radius: 3px;
  margin: 0px 50px 10px;
}

.sendbutton > button:hover {
  opacity: 1;
}

.footer {
  height: 15vh;
  padding: 20px;
  background-color: var(--footerColor);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_social_icons {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.footer_social_icons > a > img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

@media only screen and (max-width: 768px) {
  .form {
    width: 300px;
  }
}
/* contact design ends here */
